<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960157170257-4obs13ac6opfeb0958jic7thktqja5no.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960157170257-4obs13ac6opfeb0958jic7thktqja5no</string>
	<key>API_KEY</key>
	<string>AIzaSyBWLg_cqBzuXqyYoQ8k_EciNSPOKDrOMoU</string>
	<key>GCM_SENDER_ID</key>
	<string>960157170257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChatgpt</string>
	<key>PROJECT_ID</key>
	<string>chatgpt-63c03</string>
	<key>STORAGE_BUCKET</key>
	<string>chatgpt-63c03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960157170257:ios:c2315292fe40ffd91ed670</string>
</dict>
</plist>